:root {
  --default-font-family: "Baskerville", serif;
  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.11em;

  color-scheme: dark;
  --default-text-color: rgba(255, 255, 255, 0.87);
  color: var(--default-text-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
input {
  background-color: #ccc;
}

a {
  font-weight: 500;
  color: var(--default-text-color);
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  padding-top: 2em;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
.main-nav a {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.15s;
  font-style: italic;
  letter-spacing: 0.05em;
  color: var(--default-text-color);
}
button:hover,
.main-nav a:hover {
  background-color: #333;
}

.main-nav a {
  display: inline-block;
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

#root {
  width: 100%;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}

.section-container {
  padding: 2em;
  margin-bottom: 1em;
  border: 1px solid var(--default-text-color);
}
.section-header {
  display: flex;
  justify-content: space-between;
}

.chord-card {
  border: 1px solid var(--default-text-color);
  padding: 1rem;
  max-width: 100px;
  text-align: center;
  margin-right: 1em;
  display: flex;
  position: relative;
}

.chord-card-notes {
  display: flex;
  flex-direction: column-reverse;
}
.chord-card-note {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
.chord-card-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chord-card.hover .chord-card-btns {
  display: block;
}
.chord-card.hover {
  border-color: transparent;
}

.chord-card-btns {
  opacity: 0.9;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chord-card-btns button {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}
.delete-chord-card-btn {
  top: 50%;
}

.chord-name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
}
.chord-form {
  text-align: left;
}
.chord-form input {
  width: 90%;
}

.chord-form label:not(:first-of-type) {
  margin-top: 1em;
}
.chord-form label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  font-size: 0.75em;
}

.chord-form input[type="submit"] {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.section-title {
  border: none;
  background: none;
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  width: auto;
  color: var(--default-text-color);
}
.toggle-notes {
  margin: 1em 0;
}

.section-title:focus,
.section-notes {
  outline: none;
}
.section-notes {
  width: 100%;
  padding: 1em 0;
  border: none;
  background: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.02em;
  resize: none;
  font-size: 1em;
}
.DraftEditor-root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
}

.DraftJsPlaygroundContainer-editor {
  padding: 0;
  height: auto;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls-container {
  z-index: 10;
  display: flex;
  flex-direction: row;
}

.RichEditor-controls {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #eee;
}
